*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.square{
  font-size: x-large;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  border-radius: 0px;
  border: 1px solid #999;
}

.board-row{
  display: flex;
  justify-content: start;
}